alias drush='podman exec -it d10-cornerhouse_web_1 vendor/bin/drush'
alias composer='podman exec -it d10-cornerhouse_web_1 composer'
alias php='podman exec -it d10-cornerhouse_web_1 php'
alias drush7='podman exec -it d10-cornerhouse_d7_1 drush'
